include README.md
include manifest.json
include requirements.txt
recursive-include input *.oeb *.py *.ffxml *.gz
recursive-include floes *.py
recursive-include PlatformTestCubes *.py *.pdb
recursive-include OpenMMCubes *.py *.pdb
recursive-include LigPrepCubes *.py *.pdb
